<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">  
     
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' >  
  
    <appender name="myFile" class="org.apache.log4j.RollingFileAppender">     
        <param name="File" value="logs.log" />
        <param name="Append" value="true" />  
        <param name="MaxBackupIndex" value="10" />  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5l [%5p] - %m%n" />  
        </layout>  
    </appender>  
     <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="debug" />
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d [%t][%F:%L] : %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="debug" />
            <param name="LevelMax" value="info" />
        </filter>
    </appender>
     
    
    <!-- <logger name="com.eaglesoft" additivity="false">      
        <level value="all" />    
        <appender-ref ref="myFile" />    
    </logger>   -->   
  
    
    <root> 
		<appender-ref ref="stdout"/> 
       <!-- <appender-ref ref="myFile"/>   -->    
    </root>  
</log4j:configuration>